.container-fluid{
	margin-top:100px !important;
}

.cadre{
	border: solid #1976D2 15px; border-radius: 10px
}

body{
	color:  #2d2d2d !important;
	font-family:khand !important;
	font-weight: bold;
}


.tagging{
	height: 200px;
}

.mali{
	font-family:Mali, sans-serif;
}

.open{
	font-size: 1rem;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mois .row .col .row .tagging, .year .row .col .row .tagging{
	background-color: #0D47a1;
}

.jour .row .col .row .tagging{
	background-color: #f18e0b;
}

.end .row .col .row .tagging, .end-year .row .col .row .tagging{
	background-color: #333333;
}

.bg-pourcentage-jour, .bg-pourcentage-mois {
	border-radius: 30px;
	color: #fff;
	background-image: url("http://172.30.92.53/_btlecest/welcome/img-qhse/bg-stat-blur.jpg");
	height: 170px;
}

.whitten {
	box-shadow: inset 2000px 0 0 0 rgba(0, 125, 255, 0.4);
}

.orangish{
	box-shadow: inset 2000px 0 0 0 rgba(241, 142, 11, 0.5);
}

.darken{
	box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3);
}




.mois > .bg, .year >.bg{
	background-color: #eaeaea;
	background-color: #e6f1ff;

}
.jour > .bg{
	background-color: #fff4eb;
}

.end > .bg, .end-year >.bg{
	background-color: #eaeaea;
}

.txt-bg{
	padding-left: 15px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
}


.negatif{
	color:#f44336;
}

.positif{
	color :#cddc39;
}

.main-text{
	font-size: 2.4vw;
}

.secondary-text{
	font-size: 1.4vw;
}

.third-text{
	font-size: 1.4vw;
}

.norm-text{
	font-size: 1vw;
}

.norm-text-abs{
	font-size: 0.8vw;
	position: absolute;
	left: 80px;
	top: 48px;
}

.norm-text-plus{
	font-size: 1.2vw;
	margin-top: -10px;
}

.up-tr{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 18px 18px 18px;
	border-color: transparent transparent #9abb59 transparent;
	margin-bottom: 30px  !important;
}

.down-tr{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 18px 18px 0 18px;
	border-color: #c0504d transparent transparent transparent;
}
