.container a:link {color: #ef6c00 !important;}
/* .container a:visited {color: gray !important;} */
.container a:hover {font-weight: bold !important;}



.reply{
  border: solid 1px #e0e0e0 ;
  margin-bottom: 0 !important;
  background-color: #fff;
  padding: 20px !important;
}
.mag{
	background-color: #1976D2;
	margin-bottom: 0px !important;
}
.inside-mag{
	padding-left: 20px;

}
.origin{
	background-color: #fff;
	margin-bottom: 0px !important;
}


.bt{
	background-color: #424242;
	margin-bottom: 0px !important;
}

.frm
{
	background-color: #fff;
  	padding: 40px !important;

}

.fa.fa-paperclip,
.fa.fa-pencil-square-o{
	padding-right: 10px;
	line-height: inherit;
	vertical-align: middle;
}

.fa.fa-hand-o-right {
    padding-right: 20px;
}

/* hr {
    border-top: 2px solid #0288d1 !important;
    margin: 0.8em auto 1.4em auto !important;
    position: relative !important;
}
 */
hr {
    width: 50% !important;
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid #0D47A1 !important;
    margin: 0.6em 0 0 0 !important;
    padding: 0 !important;
}


/* khand-regular - latin */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: url('../../vendor/fonts/khand-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Khand Regular'), local('Khand-Regular'),
       url('../../vendor/fonts/khand-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../vendor/fonts/khand-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../vendor/fonts/khand-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../vendor/fonts/khand-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../vendor/fonts/khand-v6-latin-regular.svg#Khand') format('svg'); /* Legacy iOS */
}


h4{

	font-family: "Khand", sans-serif !important;
	margin-bottom: 0px !important;
	padding-bottom: 20px !important;

}


h1{
	font-family: "Khand", sans-serif !important;

}



textarea{
	height: 6em !important;
	width: 98% !important;
}



input[type="checkbox"]
{
line-height: inherit !important;
vertical-align: bottom;
}


label {
    font-size: 1rem !important;
    color: #000 !important;

}