fieldset{

  border:1px solid #7b7a7a !important;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding: 20px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
/*
fieldset::after{
  content: "";
  background: url('../img/logo_bt/bt600-op.png') ;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
} */

legend{
  display: inline !important;
  width: auto !important;
  font-size: 1rem !important;
  color: #0D47A1 !important;
  padding: 5px 10px!important;
  border-radius: 6px !important;
  background-color: #fff;
}
.rubrique{
  margin-bottom: 5px !important
}





.search {
  display: flex;
}

#search_term {
  width: 350px;
  border: 1px solid #0d47a1;
  border-right: none;
  padding: 5px 5px 5px 16px;
  height: 40px;
  border-radius: 18px 0 0 18px;
  outline: none;
  background-color:#eaf2ff;

 -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
input#search_term{
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2) !important;

}
input:hover#search_term  {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2) !important;

}


 input:focus#search_term {
  color: #0d47a1 !important;
  background-color:#fff;

}
.search-button {
  width: 50px;
  height: 40px;
  border: 1px solid #0d47a1;
  background:#0d47a1;
  text-align: center;
  color: #fff;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
  font-size: 20px;
}
.yanone{
  color:#4c4e50;
  font-size: 1.1rem;

}

#result-zone{
  background-color:#ebf6f9;
}

#result-zone a{
  color: #0d47a1;
}

#result-zone >.yanone{
  font-size:1.1rem;
}

button#clear{
  background-color: #fff;
  border: 0;
}


.btn-ico {
  color: #424656;
  padding: 6px;
  border-radius: 6px;
  border : 1px #ccc dashed;
  transition: all 0.6s;
  /* margin-top: 15px !important; */
  /* text-align: right; */
  float: right;
}


label > a{
  text-decoration: none;
  color: #424656 !important;
  cursor: pointer;
}
label > a:hover{
  text-decoration: none;
  color: #424656 !important;
  cursor: pointer;
}


.diff{
  color:  #c1292e;
  font-size: 0.9rem;
}
a.show-btn, a.hide-btn{
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 5px;
  color: #0D47A1;
}

a:hover.show-btn, a:hover.hide-btn{
text-decoration: none !important;
}