.closer{
	margin-top : -15px !important;
}


.alert-title-grey{
  color: #383d41;
  font-weight:  700;
}
input[type="checkbox"] {
	border: 1px solid #0075BC !important;
}




.table-bordered th, .table-bordered td {
    border: 2px solid #fff !important;
}


.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #b8daff !important;
}
	tr, td{
  padding : 0 0.5rem !important;
}

table
{
	margin-bottom:  0 !important;
}