
	th, tr, td{
  padding : 0 0.5rem !important;
}

hr {
  background: -webkit-linear-gradient(left, white, #000, white) !important;
  background: -o-linear-gradient(left, white, #000, white) !important;
  background: linear-gradient(to right, white, #000, white) !important;
  height: 2px !important;
}

.border-blue th,.border-blue td,.border-blue tr{
	border-collapse: collapse;
	border:  1px solid #0d47a1 !important;
	text-align: right;

}

.border-blue th{
	background-color:  #0d47a1;
	color:  #fff;
}


a.img-overlay{
	display: block;
	width: 177px;
	height: 90px;
	background-image: url('../img/litiges/thiefxlsbis.jpg');
	text-decoration:none;
	background-repeat:no-repeat;
  transition: all 2s;

  transition-timing: ease-in-out;

}

a.img-overlay:hover{
	display: block;
	width: 177px;
	height: 90px;
	background-image: url('../img/litiges/thiefxlsbishover.jpg');
	text-decoration:none;
	background-repeat:no-repeat;
}


/* icone commission */
.smaller{
	font-size: .9rem;
}

.pending{
    background: #de1434;
    border:  2px #5d3037 solid;
  transition-timing: ease-in-out;

}

.pending:hover{

  border:  2px #a63446 solid;
  background: #941e30;

}


.stamp {
    padding:5px 5px 5px 6px;
    border-radius: 50%;
    color:  #fff;
    text-align: center;
    font-size: 0.7rem;
  transition-timing: ease-in-out;

}


#hidden{
	display: none;
}


.stamp:hover{
   transform: scale(.9);
  color: #fff;

}
.vm-modal{
	position : fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width : 100%;
	height:  100%;
	/* opacifie page html */
	background:  rgba(0,0,0,0.8);
}


.vm-modal-wrapper{
	overflow: auto;
	width : 600px;
	padding: 20px;
	max-width: calc(100vw -20px);
	max-height: calc(100vh -20px);
	background-color: #fff;
}

.box-head{
	background-color:  #cbf3cb;
}
