
	th, tr, td{
  padding : 0 0.5rem !important;
}

hr {
  background: -webkit-linear-gradient(left, white, #000, white) !important;
  background: -o-linear-gradient(left, white, #000, white) !important;
  background: linear-gradient(to right, white, #000, white) !important;
  height: 2px !important;
}

.border-blue th,.border-blue td,.border-blue tr{
	border-collapse: collapse;
	border:  1px solid #0d47a1 !important;
	text-align: right;

}

.border-blue th{
	background-color:  #0d47a1;
	color:  #fff;
}


a.img-overlay{
	display: block;
	width: 177px;
	height: 90px;
	background-image: url('../img/litiges/thiefxlsbis.jpg');
	text-decoration:none;
	background-repeat:no-repeat;
  transition: all 2s;

  transition-timing: ease-in-out;

}

a.img-overlay:hover{
	display: block;
	width: 177px;
	height: 90px;
	background-image: url('../img/litiges/thiefxlsbishover.jpg');
	text-decoration:none;
	background-repeat:no-repeat;
}