
	tr, td{
  padding : 0 0.5rem !important;
}

input{
	/* width: 300px !important; */
}

.hide{
	display: none;
}



td:nth-child(7){
	white-space: no-wrap !important;
	width: 10% !important;
}

/* icone commission */
.smaller{
	font-size: .9rem;
}

.pending{
    background: #de1434;
    border:  2px #5d3037 solid;
  transition-timing: ease-in-out;

}

.pending:hover{

  border:  2px #a63446 solid;
  background: #941e30;

}

.validated{
    background:#3ee63e;
    border:  2px #26a526 solid;
  transition-timing: ease-in-out;
}

.validated:hover{
    background: #26a526;
    border:  2px #33d233 solid;
  /* transition-timing: ease-in-out; */
}


.reset-pending{
    background:#ccc;
    border:  2px #999 solid;
  transition-timing: ease-in-out;
}

.reste-pending:hover{
    background: #999;
    border:  2px #999 solid;
  /* transition-timing: ease-in-out; */
}

.stamp {
    padding:5px 4px 5px 5px;
    border-radius: 50%;
    color:  #fff;
    text-align: center;
    font-size: 0.7rem;
  transition-timing: ease-in-out;

}





.stamp:hover{
   transform: scale(.9);
  color: #fff;

}


.anim{
	animation:  show 3s;
}

@keyframes show{
	0% {
		background: #fff;
		transform: scale(1);
		text-shadow: 10px;
	}
	1% {
		background: #fff;
		transform: scale(0.2);
	}
	30%{background :#eefbee;}

	40% {
		background: #d8f7d8;
		transform: scale(1);
		text-shadow: 0px;

	}
	60%{background :#eefbee;}
	100%{background :#fff;}
}