table{
  font-size: 0.9rem !important;
}
#col-selector{
  font-size: 0.9rem !important;

}
th {
  position: sticky !important;
  top: 0 !important; /* Don't forget this, required for the stickiness */
}
.form-control{
  font-size: 0.9rem !important;
padding: 0.175rem 0.35rem !important;
}
input::-webkit-calendar-picker-indicator{
    margin-left: -15px!important;
}
th{
  font-weight: 400 !important;
}

tr.no-border >td{
  border: 0 !important;
}

.anim{
  animation:  show 3s;
}
.gt-1{
    background: #fff;
    color: #000;
}
.gt-2{
    background: #000;
    color: #fff;
}

.gt-3{
  color: #2196f3;
}

.gt-4{
  color: #f18f0b;
}
.gt-5{
  color: #e91e63;

}
.gt-6{
background: #ccc;
}

.gt-8{
  color: #8bc34a;

}
.gt-9{
  color: #9c27b0;

}
.special-table {
  border: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}





.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.2)!important;
}

@keyframes show{
  0% {
    background: #fff;
    transform: scale(1);
    text-shadow: 10px;
  }
  1% {
    background: #fff;
    transform: scale(0.2);
  }
  30%{background :#eefbee;}

  40% {
    background: #d8f7d8;
    transform: scale(1);
    text-shadow: 0px;

  }
  60%{background :#eefbee;}
  100%{background :#fff;}
}


@media (min-width: 1600px){
  .container {
    max-width: 1500px !important;
  }
}
@media (min-width: 1500px){
  .container {
    max-width: 1460px !important;
  }
}



@media (min-width: 1400px){
  .container {
    max-width: 1400px !important;
  }
}

@media (min-width: 1200px){

  .container {
    max-width: 1140px;
  }
}