.test{
color:  red;
}



.bggrey{
    background-color: #ddd;

}
.bgwhite{
    background-color: #fff;
}
.int-padding{
    padding: 20px;
}

tr, td, th{
	padding : 0 2px !important;
	/* padding-bottom: 0 !important; */
	/* color: red !important; */
}

td:nth-child(n+2){
	width:  20px !important;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	text-align: center !important;

}

td:nth-child(1){
	width:  200px !important;
	/* border-left: 1px #ccc solid; */
	/* border-right: 1px #ccc solid; */
}
/* .nopadding td{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: red !important;
}

.nopadding tr{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: red !important;
}
 */
#chartServices-license-text{
	display: none !important;
}


.bgblue{
	background-color: #1565c0;
	padding: 20px;
}

