table.service{
	width: auto;
}

table.service  > tbody > tr > td:nth-of-type(1) {
	max-width: 200px;
}

table.service  > tbody > tr > td:nth-child(n+2) {

	width: 80px;
 }

.connection{
	background-color: #cddc39;
}
.deno{
	font-variant: small-caps;
}


.sum{
	background-color: #cddc39 !important;
	text-align: center;
	font-weight: bold;
	/* color: #fff; */
}

/* table#services  > tbody > tr > td:nth-of-type(1) { */