

img.polaroid {
      background:#000; /*Change this to a background image or remove*/
      border:solid #fff;
      border-width:6px 6px 6px 6px;
      box-shadow:1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
      -webkit-box-shadow:1px 1px 5px #333;
      -moz-box-shadow:1px 1px 5px #333;
      height:200px; /*Set to height of your image or desired div*/
      width:200px; /*Set to width of your image or desired div*/
    }



  input[type='radio']#danger:after {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']#danger:checked:after  {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #c1292e;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

      input[type='radio']#success:after {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']#success:checked:after  {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #008C1C;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }


     input[type='radio']#primary:after {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']#primary:checked:after  {
        width: 17px;
        height: 17px;
        border-radius: 17px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #0D47A1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }