
.btn-light{
  border-color: #dae0e5 !important;
  background-color: #fff !important;
}



@media (min-width: 1600px){
  .container {
    max-width: 1500px !important;
  }
}
@media (min-width: 1500px){
  .container {
    max-width: 1460px !important;
  }
}



@media (min-width: 1400px){
  .container {
    max-width: 1400px !important;
  }
}

@media (min-width: 1200px){

  .container {
    max-width: 1140px;
  }
}