.table .form-group{
	margin-bottom: 0 !important;
}

input.mini-input{
	width:  60px;
	text-align: right;
}

input.moyen-input{
	width:  100px;
	text-align: right;

}

td.inv{
	padding: 0 0.75rem !important;
	text-align: center;
	font-weight: bold;
	background: #deebff;
}
tr.no-bottom-border, tr.no-bottom-border td{
	border: 0 solid #fff !important;
}