
.btn-light{
  border-color: #dae0e5 !important;
  background-color: #fff !important;
}



@media (min-width: 1600px){
  .container {
    max-width: 1500px !important;
  }
}
@media (min-width: 1500px){
  .container {
    max-width: 1460px !important;
  }
}

.fixed-zone {
    padding: 10px;
    width: 100%;
    background: #f8f9fa6b;
    position: fixed;
    bottom: 0px;
    left: 0px;
    /* right: 400px; */
    z-index: 10;

    /* border-radius: 10px !important; */
}

@media (min-width: 1400px){
  .container {
    max-width: 1400px !important;
  }
}

@media (min-width: 1200px){

  .container {
    max-width: 1140px;
  }
}