html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px !important; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here */
  line-height: 120px; /* Vertically center the text there */
  background-color: #01579b;
  color:  white;
  line-height: 0.6em;
  font-size: 0.8em;
}
/* .dark-blue-bg{
	background-color:
} */

/* .footer > .container {
  padding-right: 15px;
  padding-left: 15px;
} */