/* .gazette {
	height: 350px !important;
	width: 100% !important;
	} */

/*
couleurs:


vert : 			#a2a522;



belu : #0c47a2;
d8e6fc



rouge : #fd1645;




orange : #f18e0b;



*/







.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}


.full-width{
	min-width: 100%
}
/* .full-height{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  /* overflow: hidden; */




/* box commun */
.gaz-list{
	min-height: 196px !important;
	border: 1px solid transparent;
	border-radius: .45rem;
}

/* variante colorées box  */
.quot{
	background-color: #d8e6fc;
	color: #08316f;
	border-color: rgba(12,71,162,0.25);
}

.quot .col> ul >li> a{
	color: #08316f;
	transition: all 0.2s;
	transition-timing: ease-in-out;
}

.quot .col> ul >li> a:hover, .quot .col> ul:hover{
	color: rgba(12,71,162,0.45);
	text-decoration: none;
	font-weight: bold;


}
.alerte-promo{
	background-color:#f5f5d1;
	border-color: rgba(162,165,34,0.25);
	color: #777911;
}

.alerte-promo > .col> ul >li> a
{
	color: #777911;
	transition: all 0.2s;
	transition-timing: ease-in-out;
}

.alerte-promo > .col> ul >li> a:hover,.alerte-promo > .col> ul:hover
{
	color: rgba(162,165,34,0.45);
	text-decoration: none;
	font-weight: bold;
}

.suivi-livraison{
	background-color:#fef5e9;
	border-color: rgba(241,142,11,0.25);
	color:#855204;
}
.suivi-livraison .col> ul >li> a{
	color:#855204;
	transition: all 0.2s;
	transition-timing: ease-in-out;
}
.suivi-livraison .col> ul >li> a:hover, .suivi-livraison .col> ul >li:hover{
	color:rgba(241,142,11,0.45);
	text-decoration: none;
	font-weight: bold;

}


.speciale{
	background-color:#ffecf0;
	border-color: rgba(253,22,69,0.25);
	color: #6d2131;
}
.speciale .col> ul >li> a{
	color: #6d2131;
	transition: all 0.2s;
	transition-timing: ease-in-out;

}

.speciale .col> ul >li> a:hover, .speciale .col> ul:hover{
	color: rgba(253,22,69,0.45);
	text-decoration: none;
	font-weight: bold;

}



.detail{
	padding-left:40px;
	margin-top :  -15px;
}


/* #343a40 */

.fa.fa-search, .fa.fa-newspaper-o{
	padding-right: 15px;
}

onav
{
	color: #0288d1;
	text-align: right !important;
	} */

	.uptonav{
		text-align: right;
		color: #0288d1;
		font-size: 13px;
	}

	.small-padding{
		padding-top : 5px;
	}

	h4{
		padding-bottom: 0 !important;
	}

	/* ------------------------------- */
	@media only screen and (max-width: 992px){
		.myrow >img{
			height: 250px !important;
			width: 100% !important;
			filter:blur(1px);
		}
	}


	@media only screen and (max-width: 1024px)
	{
		.mini-nav{
			font-size: 13px;
			padding: 0 !important;
		}

		.mini-nav> p{

		}

		.fa.fa-search, .fa.fa-newspaper-o{
			padding-right: 5px;
		}

	}