th:nth-child(2), td:nth-child(2){
	width: 15%;
}

.smaller{
	font-size: 0.8rem;
}

.bg-light-blue {
	border-radius:10px;
	}

	.up{
		margin-top :-10px;
	}

	.text-redrose{
		color: #e91e63;
	}

	.text-greenwait{
		color:#8bc34a;
	}

	.text-fac{
		color: #00bcd4;
	}
	hr{
		border-top: 2px solid #fff !important;
		width: 10%;
		margin-top :10px !important;

	}

	ul.leaders {
  /* max-width: 37em; */
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  ";
}
ul.leaders span:first-child {
  padding-right: 0.5em;
  background-color:  #cce5ff;
}

ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background-color:  #cce5ff;

}
ul.leaders span + span:before {
  padding-right: 0.15em;
}