.unlock:after{
  font-family: FontAwesome;
  content: "\f023";
  color: red;
}

.unlock:hover:after
{
  font-family: FontAwesome;
  color: green;
  content: "\f09c";

}
  a.unlock:hover{
  text-decoration: none !important;
 }


 /*  */