hr {
	margin :  15px 0 !important;
    /* width: 40% !important; */
    border-bottom: 1px solid #f57c00 !important;
    width:  90% !important;
    /* box-shadow: 0px 10px 10px -10px #333 !important; */
    /* margin : 80px auto 60px auto !important; */
}

.links{
	margin-bottom: 40px !important;
}
a.stat-link{
	text-decoration: underline;
}
a.stat-link:hover{
	font-weight: bold;
	color:#f57c00;
	text-decoration: none;

}