/* modif perso bootstrap */
.bg-main{
	background: #0d47a1 !important;
}

button.bg-main:hover,
button.bg-main:focus {
  background-color: #1057c5 !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #fff !important;
  text-align: left;
  list-style: none;
  background-color:#0d47a1 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1057c5 !important	 ;
}

.navbar-dark .navbar-nav .nav-link{
		color: #fff !important;
}

.navbar {
    padding: 0 1rem !important;
}

.lighter-blue {
	background: #5b93d2 !important;
}

.lighter-blue:hover {
	background: #7aa7da !important;
}

.bg-red {
    background: #dc3545 !important;
}


.bg-red:hover {
    background: #e25664 !important;
}
/* ajoout sousmenu */


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}




