.galerie-col{
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
	margin-right: 5px;
}

.galerie-col img{
	max-width: 200px;
	height: auto;
}
.button-wrapper {
  position: relative;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  background: #00bfff;
  cursor: pointer;
  color: #fff;
  padding: 10px 5px;
  text-transform:uppercase;
  font-size:12px;
}
#img {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
iframe html  body {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
 font-family;
 color: blue;
}

h5{
  position: relative;

}


.btn-light{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  /* transition: all 4s ease-in-out; */

}



.btn-light:hover {
  box-shadow: 0 1px 5px rgba(13,71,161,0.24), 0 2px 3px rgba(13,71,161,0.48);
  background-color: #f8f9fa !important;
  transform: scale(1.02);
  color: #2559aa !important;

}




.color-picker-text{
  position :absolute;
  top: 0;
  border-radius: 5px;
  padding: 10px 5px 0 5px;
  /* background-color: #ccc; */
  left:15px;
  height: 40px;

}

.color-picker-bg{
  position :absolute;
  top: 0px;
  border-radius: 5px;
  padding: 10px 5px 0 5px;
  left:255px;
  height: 40px;

}

.circle {
  width: 1em;
  height: 1em;
  margin: .05em;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 1px 3px #999;
}
.color-block{
  width: 230px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.12);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

}
.tools{

  text-shadow: 1px 1px 0 #FFF;
  /* box-shadow:  2px 2px 5px #BABECC,  -5px -5px 10px #FFF; */
  padding: 10px 0;
  color:  #525354;
  background-color: #ffffff;
  /* background-image: linear-gradient(90deg, #ffffff 0%, #d7e1ec 74%); */
  background-image: linear-gradient( #f8f9fa 90%, #e4e4e4 );
  /* border: 1px solid #e4e4e4; */
  border-radius: 10px;

}

.bartitle{
  font-size: 1.25rem;

}
.rounded-lg{
  border-radius: 10px;

}
iframe {

  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 20px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
  box-shadow: inset 2px 2px 5px #e4e4e4, inset -5px -5px 10px #FFF;

}
.hidden{
  display: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-upload{
  /* border: #1f271b 1px solid !important; */

  box-shadow: 3px 3px 2px -2px rgba(0,0,0,0.4);
  transition: all 4s;
  transition-timing: ease-in-out;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;

}

.btn-upload i{
  color: #2559aa !important;
}
.btn-upload:hover{
  box-shadow: 0 1px 5px rgba(13,71,161,0.24), 0 2px 3px rgba(13,71,161,0.48);
  background-color: #f8f9fa !important;
  transform: scale(1.02);
  color: #2559aa !important;

}




/* Effect 13: three circles */

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
}

nav a:hover,
nav a:focus {
  outline: none;
}



.cl-effect-13 a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  color: #0D47A1;
}

.cl-effect-13 a::before {
  position: absolute;
  top: 20%;
  left: 50%;
  content: '_';
  /* content: '✤'; */
  /* content: '\25C8'; */
  /* content: '\274B'; */
  /* content: '\2261'; */
/* https://nealchester.com/special-characters/ */
  color: #0D47A1;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
  /* text-shadow: 0 0 transparent; */
  text-shadow: 10px 0 #0D47A1, -10px 0 #0D47A1;

  /* color: transparent; */
  text-decoration: none;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
  color: #0D47A1;
  text-decoration: none;

}
