label{
    color: #0D47A1;
}
.sub-title:after{
  position: absolute;
  left: calc(50% - 35px);
  display: block;
  width: 70px;
  border-bottom: 2px solid  #f18e0b;
  content: "";
  padding-top: 10px;
}
#date_start, #date_end{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (min-width: 1600px){
  .container {
    max-width: 1500px !important;
  }
}
@media (min-width: 1500px){
  .container {
    max-width: 1460px !important;
  }
}



@media (min-width: 1400px){
  .container {
    max-width: 1400px !important;
  }
}

@media (min-width: 1200px){

  .container {
    max-width: 1140px;
  }
}