#toggle{
	cursor: pointer;
}



.draggable.ui-draggable-dragging {
	background: #0d47a1;
	padding :5px;
	color:  white !important;
}


#draggableHelper{
	background: #0d47a1;
	padding :5px;
	color:  white !important;
	font-size: 1.4rem;
}