.mini-input >.form-control {
	height: 21px !important;
	padding: 0 !important;
	font-size: 1rem;
	line-height: 1 !important;
}

.alert.error-email{
	height: 34px !important;
	padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}