
table.striped > tbody > tr:nth-child(odd) {
    background-color: #fff !important;
}

table.striped > tbody > tr:nth-child(even) {
    background-color: #ccc !important;
}

td:nth-child(1){
	width: 50%;
}

input{
  width: 350px !important;
}

.bggrey{
    background-color: #ddd;


}
.bgwhite{
    background-color: #fff;
}
.int-padding{
    margin: auto;
}
/* -------------------------------- */
/*              titre               */
/* -------------------------------- */
h4 + hr {
  width: 50% !important;
  display: block !important;
  height: 1px !important;
  border: 0 !important;
  border-top: 1px solid #0D47A1 !important;
  margin: 0.6em 0 0 0 !important;
  padding: 0 !important;
}

h4{
    font-family: "Khand", sans-serif !important;
    margin: 0px !important;
    padding-bottom: 20px !important;
}

h1{
    font-family: "Khand", sans-serif !important;
}

.sub-h1{
    font-size: 20px;
}

.fa.fa-hand-o-right {
  padding-right: 20px;
}

.fa.fa-calendar{
    color:#0D47A1;
    padding-right: 10px;
}