input{
	width:  300px !important;
}

.border-blue th,.border-blue td,.border-blue tr{
	border-collapse: collapse;
	border:  1px solid #0d47a1 !important;
	text-align: right;

}

.border-blue th{
	background-color:  #0d47a1;
	color:  #fff;
}

.no-border{
	border:  0 !important;
	font-weight: bold;
background-color: #f57c00;
}