
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px;
}


  .disabled a {
    pointer-events: none;
    color: #343A40;
  }


 h4.Aucun{
  color: #A0A0A0; 
}

legend{
  width: auto !important;
  font-size: 20px !important;
}
