
.slide {
  width:100%;
  overflow:hidden;
}
div.slide h1 {
  animation: 3s slide;
}

@keyframes slide {
  from {
    margin-left: 70%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



@keyframes coming{
   0%{
    opacity: 0;
  }
   40%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}